html body {
    width: auto;
    height: 100%;
    background-color: #FFC473;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background: url(https://images.unsplash.com/photo-1669985457873-0c540a1d832a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1195&q=80) bottom no-repeat;
    background-size: cover;
}

h1 {
    text-shadow: #043C6B 1px 0 10px;
    color: #66A1D2;
    font-style: oblique;
    font-size: 5rem;
}

.listing {
    display: inline-block;
    font-size: 35px;
    padding: 15;
}

li {
    margin: 35px;
    text-align: center;
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    color: #D460CF;
    text-shadow: 5px 5px 5px #6E0069;
}

footer {
    padding-top: 50px;
    text-align: center;
    text-decoration: none;
}

.copyright {
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}

.copyright a {
    color: black;
    text-decoration: none;
}

.copyright a:hover {
    color: #D460CF;
}